Our 2nd stage starts with a programming project. The deadline is next Monday but the sooner you finish the sooner we can move forward with your process.

This project requires the implementation of a basic business logic related to the validation of international phone numbers.

The business logic is purposely simple, and our focus will be on the quality of the code, e.g., architecture, cleanliness, unit testing, etc.

Make sure you include the FE, the BE, and a simple readme so that we know how to boot up the project. On this last point, please make sure the project includes a dockerfile.

Finally, in terms of using frameworks, please use spring boot for the backend. We'll let you pick any for the frontend.

We send a zip file with the project description and a SQL lite database with sample data in the attachment.
